<div class="row">
    <div class="col-sm-4">
        <table>
            <thead>
                <tr class="header">
                    <th span="2">Sandwich</th>
                </tr>
            </thead>
            <tbody>
				<tr class="menu_item">
                    <td class="item">Baguette Salad de Poulet</td>
                    <td class="price">3.25</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Baguette Salad de Poulet</td>
                    <td class="price">3.25</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Baguette Jambon et Fromage</td>
                    <td class="price">3.25</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Sandwich Vege - Taboule et Baba-Ghannouj</td>
                    <td class="price">3.50</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Sandwich Vege - Carottes et Tofu</td>
                    <td class="price">3.50</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Sandwich Vege - Hummus et Lentilles</td>
                    <td class="price">3.50</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Sandwich Vege - Vege Pate</td>
                    <td class="price">3.50</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Sandwich Vege Pate Maison</td>
                    <td class="price">3.50</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Sandwich Vege Tofu Indien</td>
                    <td class="price">3.50</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pita Mediteranien</td>
                    <td class="price">3.75</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Pita Thon Cajun</td>
                    <td class="price">3.75</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pita Shish Taouk</td>
                    <td class="price">3.75</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Panini Italiano</td>
                    <td class="price">3.75</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Baguette Calabresse</td>
                    <td class="price">3.75</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Baguette Dinde et Fromage</td>
                    <td class="price">3.75</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Tortilla Thai</td>
                    <td class="price">3.75</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Wrap au Oeufs</td>
                    <td class="price">3.75</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Wrap au Poulet Cesar</td>
                    <td class="price">3.75</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Wrap au Poulet Canneberges</td>
                    <td class="price">3.75</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Burittos</td>
                    <td class="price">3.75</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Baguette Boeuf Porto</td>
                    <td class="price">4.00</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Baguette Poulet Fines Herbes</td>
                    <td class="price">4.00</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Pita Proscuito et Dinde</td>
                    <td class="price">4.25</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Baguette Jambon et Brie</td>
                    <td class="price">4.25</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Ciabatta Poulet, Fromage et Canneberge</td>
                    <td class="price">4.50</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Legumes Grilles</td>
                    <td class="price">4.75</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Tempeh epice</td>
                    <td class="price">4.75</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Ciabatta Brie et Pesto</td>
                    <td class="price">4.75</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Ciabatta BLD</td>
                    <td class="price">4.75</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Ciabatta Steak et Champignon</td>
                    <td class="price">4.75</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Legumes Grilles</td>
                    <td class="price">4.75</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <table>
            <thead>
                <tr class="header">
                    <th span="2">Salade</th>
                </tr>
            </thead>
            <tbody>
				<tr class="menu_item">
                    <td class="item">Petites Salades</td>
                    <td class="price">2.50</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Salade Lentilles, Riz et edame</td>
                    <td class="price">3.25</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Salade Quinoa</td>
                    <td class="price">3.25</td>
                </tr>
				<tr class="menu_item">
                    <td class="item">Salade Farfales</td>
                    <td class="price">3.25</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Salade Repas - Grec/Bettrave/Pad Thai/Cesar/Nicoise</td>
                    <td class="price">5.25</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr class="header">
                    <th span="2">Extra</th>
                </tr>
            </thead>
            <tbody>
                <tr class="menu_item">
                    <td class="item">Samosa</td>
                    <td class="price">3.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pizza - Vegetarienne/Lahmajoun</td>
                    <td class="price">3.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

