<!-- <img class="fullscreen" src="/cafeMathInfo/images/chaton.jpg"> -->
<table>
	<thead>
		<tr class="header">
			<th>Boisson Chaude</th>
		<th style="text-align: right;">Prix</th>
		</tr>
	</thead>
	<tbody>
		<tr class="odd">
			<td>Poche de The</td>
			<td style="text-align: right;">0.50</td>
		</tr>
		<tr class="odd">
			<td>Expresso</td>
			<td style="text-align: right;">0.50</td>
		</tr>
		<tr class="odd">
			<td>Remplissage</td>
			<td style="text-align: right;">0.50</td>
		</tr>
		<tr class="odd">
			<td>Petit Cafe/Vanille Francaise/Capuccino/Chocolat Chaud</td>
			<td style="text-align: right;">0.75</td>
		</tr>
		<tr class="even">
			<td>Moyen Cafe/Vanille Francaise/Capuccino/Chocolat Chaud</td>
			<td style="text-align: right;">1.00</td>
		</tr>
		<tr class="even">
			<td>Grand Cafe/Vanille Francaise/Capuccino/Chocolat Chaud</td>
			<td style="text-align: right;">1.25</td>
		</tr>
		<tr class="even">
			<td>Latte/Cappucino</td>
			<td style="text-align: right;">1.00</td>
		</tr>
	</tbody>
	<thead>
		<tr class="header">
			<th>Boisson Froid</th>
		<th style="text-align: right;">Prix</th>
		</tr>
	</thead>
	<tbody>
		<tr class="odd">
			<td>Petit Lait</td>
			<td style="text-align: right;">0.50</td>
		</tr>
		<tr class="even">
			<td>Grand Lait</td>
			<td style="text-align: right;">1.00</td>
		</tr>
		<tr class="odd">
			<td>Petit Lait Choco</td>
			<td style="text-align: right;">1.00</td>
		</tr>
		<tr class="even">
			<td>Grand Lait Choco</td>
			<td style="text-align: right;">1.75</td>
		</tr>
		<tr class="odd">
			<td>Petit Lait</td>
			<td style="text-align: right;">0.50</td>
		</tr>
		<tr class="even">
			<td>Jus</td>
			<td style="text-align: right;">1.25</td>
		</tr>
		<tr class="odd">
			<td>Petit Lait</td>
			<td style="text-align: right;">0.50</td>
		</tr>
		<tr class="even">
			<td>Gatorade</td>
			<td style="text-align: right;">1.50</td>
		</tr>
		<tr class="odd">
			<td>Petit Lait</td>
			<td style="text-align: right;">0.50</td>
		</tr>
		<tr class="even">
			<td>Pure Leaf</td>
			<td style="text-align: right;">1.50</td>
		</tr>
		<tr class="odd">
			<td>Soda/Liqeur</td>
			<td style="text-align: right;">1.50</td>
		</tr>
		<tr class="even">
			<td>Boisson Starbucks</td>
			<td style="text-align: right;">2.25</td>
		</tr>
		<tr class="odd">
			<td>AMP/Rockstar</td>
			<td style="text-align: right;">3.00</td>
		</tr>
		<tr class="odd">
			<td>Muscle Milk</td>
			<td style="text-align: right;">3.25</td>
		</tr>
	</tbody>
	<thead>
		<tr class="header">
			<th>Fruits</th>
		<th style="text-align: right;">Prix</th>
		</tr>
	</thead>
	<tbody>
		<tr class="menu_item">
			<td class="item">Touts Fruits</td>
			<td class="price">0.75</td>
		</tr>
		<tr class="menu_item">
			<td class="item">Banane</td>
			<td class="price">1.00</td>
		</tr>
	</tbody>
	<thead>
		<tr class="header">
			<th>Amuses Gueules</th>
		<th style="text-align: right;">Prix</th>
		</tr>
	</thead>
	<tbody>
		<tr class="menu_item">
			<td class="item">Bonbon Erable</td>
			<td class="price">0.25</td>
		</tr>
		<tr class="menu_item">
			<td class="item">Chips</td>
			<td class="price">0.75</td>
		</tr>
		<tr class="menu_item">
			<td class="item">Gomme</td>
			<td class="price">1.25</td>
		</tr>
		<tr class="menu_item">
			<td class="item">Nougat</td>
			<td class="price">1.25</td>
		</tr>
		<tr class="menu_item">
			<td class="item">NutriGrain</td>
			<td class="price">1.25</td>
		</tr>
		<tr class="menu_item">
			<td class="item">Biscuit</td>
			<td class="price">1.25</td>
		</tr>
		<tr class="menu_item">
			<td class="item">Baklava</td>
			<td class="price">1.25</td>
		</tr>
		<tr class="menu_item">
			<td class="item">Barre Chocolat</td>
			<td class="price">1.50</td>
		</tr>
		<tr class="menu_item">
			<td class="item">HoneyBar</td>
			<td class="price">1.50</td>
		</tr>
		<tr class="menu_item">
			<td class="item">Skittles</td>
			<td class="price">1.50</td>
		</tr>
		<tr class="menu_item">
			<td class="item">Gualette</td>
			<td class="price">1.50</td>
		</tr>
		<tr class="menu_item">
			<td class="item">Banane Plantain</td>
			<td class="price">1.75</td>
		</tr>
		<tr class="menu_item">
			<td class="item">Choco Belge</td>
			<td class="price">2.00</td>
		</tr>
		<tr class="menu_item">
			<td class="item">Brownie</td>
			<td class="price">2.00</td>
		</tr>
		<tr class="menu_item">
			<td class="item">Chaudierre BonBon</td>
			<td class="price">5.25</td>
		</tr>
	</tbody>
	<thead>
		<tr class="header">
			<th>Materielle</th>
		<th style="text-align: right;">Prix</th>
		</tr>
	</thead>
	<tbody>
		<tr class="menu_item">
			<td class="item">Ustensile</td>
			<td class="price">0.05</td>
		</tr>
		<tr class="menu_item">
			<td class="item">Verre</td>
			<td class="price">0.25</td>
		</tr>
	</tbody>
</table>

